* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  position: relative;
}

/* Background */

body {
  background-color: rgb(135, 206, 250);
  background-image: url(https://img.icons8.com/cotton/2x/star.png);
  background-repeat: repeat-x repeat-y;
}

/* Header: Cover Photo, Profile Picture, Navigation Bar, and Buttons */

.header {
  background-color: pink;
  width: 850px;
  height: 345px;
  border: white 8px dashed;
  background-repeat: no-repeat;
  margin: auto;
  z-index: 0;
}

.profile_picture {
  background-color: rgb(128, 247, 188);
  width: 170px;
  height: 170px;
  border: white 5px dashed;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 225px;
  left: 55px;
  z-index: 2;
}

.page_name {
  text-align: left;
  position: absolute;
  left: 240px;
  top: 264px;
  z-index: 3;
}

li {
  display: inline;
}

.buttons {
  position: absolute;
  top: 240px;
  left: 535px;
}

span {
  line-height: 100px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

#button1 {
  border: rgb(135, 206, 250) solid 2px;
  width: 150px;
  height: 50px;
  background: #fffdfd;
  margin-bottom: 25px;
  border-radius: 32px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#button2 {
  border: rgb(135, 206, 250) solid 2px;
  width: 150px;
  height: 50px;
  background: #fffdfd;
  margin-bottom: 25px;
  border-radius: 32px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#button3 {
  border: rgb(135, 206, 250) solid 2px;
  width: 150px;
  height: 50px;
  background: #fffdfd;
  margin-bottom: 25px;
  border-radius: 32px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#button4 {
  border: rgb(135, 206, 250) solid 2px;
  width: 150px;
  height: 50px;
  background: #fffdfd;
  margin-bottom: 25px;
  border-radius: 32px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.navigation_bar {
  background-color: white;
  border: rgb(253, 253, 175) dashed 5px;
  width: 835px;
  height: 45px;
  top: 330px;
  position: absolute;
  z-index: 1;
}

#link1 {
  position: absolute;
  top: -32px;
  left: 373px;
  /* cursor: pointer; */
}

#link2 {
  position: absolute;
  top: -32px;
  left: 477px;
  /* cursor: pointer; */
}

#link3 {
  position: absolute;
  top: -32px;
  left: 565px;
  /* cursor: pointer; */
}

#link4 {
  position: absolute;
  top: -32px;
  left: 673px;
  /* cursor: pointer; */
}

#link5 {
  position: absolute;
  top: -32px;
  left: 750px;
  /* cursor: pointer; */
}

/* Body: Left Column & Right Column */

.body {
  width: 850px;
  margin: auto;
}

/* Left Column: About Me, Page Details, Apps, and Photos */

.left_column {
  background-color: rgb(253, 253, 175);
  width: 328px;
  height: 1300px;
  top: 80px;
  z-index: 3;
}

.about_me {
  background-color: white;
  width: 300px;
  height: 220px;
  top: 10px;
  left: 14px;
  border: 5px dashed rgb(135, 206, 250);
  padding: 20px;
  z-index: 4;
}

.page_details {
  background-color: white;
  width: 300px;
  height: 180px;
  top: 30px;
  left: 14px;
  border: 5px dashed rgb(135, 206, 250);
  padding: 20px;
  z-index: 5;
}

.apps {
  background-color: white;
  width: 300px;
  height: 380px;
  top: 50px;
  left: 14px;
  border: 5px dashed rgb(135, 206, 250);
  padding: 20px;
  z-index: 6;
}

.photos {
  background-color: white;
  width: 300px;
  height: 400px;
  top: 5px;
  left: -25px;
  border: 5px dashed rgb(135, 206, 250);
  padding: 20px;
  z-index: 4;
}

/* Photos: Row 1 */

.photo_row_1 {
  background-color: rgb(128, 247, 188);
  height: 70px;
  width: 70px;
  margin: 10px;
  left: 78px;
}

.photo_row_1::before {
  background-color: rgb(128, 247, 188);
  content: " ";
  height: 70px;
  width: 70px;
  margin: 10px;
  top: -10px;
  left: -90px;
  position: absolute;
}

.photo_row_1::after {
  background-color: rgb(128, 247, 188);
  content: " ";
  height: 70px;
  width: 70px;
  margin: 10px;
  top: -10px;
  left: 70px;
  position: absolute;
}

/* Photos: Row 2 */

.photo_row_2 {
  background-color: rgb(128, 247, 188);
  height: 70px;
  width: 70px;
  margin: 10px;
  left: 78px;
}

.photo_row_2::before {
  background-color: rgb(128, 247, 188);
  content: " ";
  height: 70px;
  width: 70px;
  margin: 10px;
  top: -10px;
  left: -90px;
  position: absolute;
}

.photo_row_2::after {
  background-color: rgb(128, 247, 188);
  content: " ";
  height: 70px;
  width: 70px;
  margin: 10px;
  top: -10px;
  left: 70px;
  position: absolute;
}

/* Photos: Row 3 */

.photo_row_3 {
  background-color: rgb(128, 247, 188);
  height: 70px;
  width: 70px;
  margin: 10px;
  left: 78px;
}

.photo_row_3::before {
  background-color: rgb(128, 247, 188);
  content: " ";
  height: 70px;
  width: 70px;
  margin: 10px;
  top: -10px;
  left: -90px;
  position: absolute;
}

.photo_row_3::after {
  background-color: rgb(128, 247, 188);
  content: " ";
  height: 70px;
  width: 70px;
  margin: 10px;
  top: -10px;
  left: 70px;
  position: absolute;
}

/* Photos: Row 3 */

.photo_row_4 {
  background-color: rgb(128, 247, 188);
  height: 70px;
  width: 70px;
  margin: 10px;
  left: 78px;
}

.photo_row_4::before {
  background-color: rgb(128, 247, 188);
  content: " ";
  height: 70px;
  width: 70px;
  margin: 10px;
  top: -10px;
  left: -90px;
  position: absolute;
}

.photo_row_4::after {
  background-color: rgb(128, 247, 188);
  content: " ";
  height: 70px;
  width: 70px;
  margin: 10px;
  top: -10px;
  left: 70px;
  position: absolute;
}

/* Right Column: Posts */

.right_column {
  background-color: rgb(253, 253, 175);
  width: 512px;
  height: 1325px;
  top: -765px;
  left: 300px;
  z-index: 3;
}

/* Post: Cover Photo */
.post_cover_photo {
  background-color: white;
  width: 482px;
  height: 380px;
  top: 10px;
  left: 15px;
  border: 5px dashed rgb(135, 206, 250);
  padding: 10px;
  z-index: 6;
}

.post_header_1 {
  left: -45px;
}

.post_photo_1 {
  background-color: rgb(128, 247, 188);
  height: 220px;
  width: 450px;
  top: -35px;
}

.post_selections_1 {
  top: -20px;
  left: 20px;
}

/* Post: Text Entry 1 */

.post_text_1 {
  background-color: white;
  width: 482px;
  height: 200px;
  top: 30px;
  left: 15px;
  border: 5px dashed rgb(135, 206, 250);
  padding: 10px;
  z-index: 6;
}

.post_header_2 {
  left: 25px;
}

.post_entry_1 {
  height: 50px;
  width: 450px;
  top: -35px;
}

.post_selections_2 {
  top: -30px;
  left: 20px;
}

/* Post: Event */

.post_event {
  background-color: white;
  width: 482px;
  height: 450px;
  top: 50px;
  left: 15px;
  border: 5px dashed rgb(135, 206, 250);
  padding: 10px;
  z-index: 6;
}

.post_header_3 {
  left: 25px;
}

.post_photo_2 {
  background-color: rgb(128, 247, 188);
  height: 220px;
  width: 450px;
  top: -35px;
}

.post_event_details {
  height: 50px;
  width: 450px;
  top: -20px;
  left: 5px;
}

.event_join {
  background-color: pink;
  top: -40px;
  left: 380px;
}

.post_selections_3 {
  left: 20px;
}

/* Post: Text Entry 2 */

.post_text_2 {
  background-color: white;
  width: 482px;
  height: 200px;
  top: 70px;
  left: 15px;
  border: 5px dashed rgb(135, 206, 250);
  padding: 10px;
  z-index: 6;
}

.post_header_4 {
  left: 25px;
}

.post_entry_2 {
  height: 50px;
  width: 450px;
  top: -35px;
}

.post_selections_4 {
  top: -30px;
  left: 20px;
}

/* Footer */

footer {
  text-align: center;
  background-color: rgb(128, 247, 188);
  width: 850px;
  height: 70px;
  border: white 5px dashed;
  background-repeat: no-repeat;
  top: 680px;
  left: -40px;
  margin: 0 auto;
  padding: 10px;
}
